    #modal {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        background-color: var(--background-color-07);
        z-index: 100;
    }
    
    .modal-mask {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
    }