<footer class="footer">
    <div class="footer-item footer-logo">
        <img src="./assets/images/Logo.png">
    </div>
    <div class="footer-item">
        <h3 class="color-primary">
            Contacte-nos
        </h3>
        <ul class="contacts-list">
            <li> <i class="fal fa-envelope"></i> covidango@gmail.com</li>
            <li> <i class="fal fa-phone"></i> +244 990 199 257 </li>
            <li> <i class="fal fa-phone"></i> +244 931 517 500 </li>
        </ul>
    </div>
    <div class="footer-item">
        <h3 class="color-primary">Encontre-nos</h3>

        <ul class="social-list">

            <a href="https://facebook.com/covidango/">
                <li><i class="found-us-icon fab fa-facebook"></i></li>
            </a>
            <a href="https://instagram.com/covidango/">
                <li><i class="found-us-icon fab fa-instagram"></i></li>
            </a>
            <a href="https://twitter.com/AngCovid">
                <li><i class="found-us-icon fab fa-twitter"></i></li>
            </a>
            <a href="https://covidango.web.app">
                <li><i class="found-us-icon fal fa-globe"></i></li>
            </a>
        </ul>

        <button class="button-primary">Partilhe com os seus</button>
    </div>
</footer>