<footer class="footer">
    <div class="footer-item footer-logo">

        <h3 class="color-primary">COVID TELEMEDICINA</h3>
        <img src="./assets/images/Logo.png" routerLink="/home">
    </div>
    <div class="footer-item">
        <h3 class="color-primary">
            Contacte-nos
        </h3>
        <ul class="contacts-list">
            <li> <i class="fal fa-envelope"></i> covidango@gmail.com</li>
            <li> <i class="fal fa-phone"></i> +244 990 199 257 </li>
            <li> <i class="fal fa-phone"></i> +244 931 517 500 </li>
        </ul>
    </div>
    <div class="footer-item">
        <h3 class="color-primary">Encontre-nos</h3>

        <ul class="social-list">

            <a href="https://facebook.com/covidango/">
                <li><i class="found-us-icon fab fa-facebook"></i></li>
            </a>
            <a href="https://instagram.com/covidango/">
                <li><i class="found-us-icon fab fa-instagram"></i></li>
            </a>
            <a href="https://twitter.com/AngCovid">
                <li><i class="found-us-icon fab fa-twitter"></i></li>
            </a>
            <a href="https://covidango.web.app">
                <li><i class="found-us-icon fal fa-globe"></i></li>
            </a>
        </ul>
        <h5 class="color-primary social-list">Partilhe com os seus</h5>
        <div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="https://telecovidcina.web.app" data-a2a-title="Faça já o seu teste online de COVID-19 em Angola e monitorize através do nosso mapa, poderá também fazer marcar consultas, tudo isso e muitos mais no link a seguir. Juntos somos mais fortes.">
            <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
            <a class="a2a_button_facebook"></a>
            <a class="a2a_button_twitter"></a>
            <a class="a2a_button_email"></a>
            <a class="a2a_button_linkedin"></a>
            <a class="a2a_button_whatsapp"></a>
            <a class="a2a_button_facebook_messenger"></a>
            <a class="a2a_button_trello"></a>
        </div>
    </div>
</footer>