<app-header></app-header>
<h2 class="main-title color-primary"> Ficha médica </h2>
<section class="download-resume">
    <div class="paper">
        <div class="pdf" (click)="downloadResume()">
            <div class="process" *ngIf="wait">
                <span class="progressing">
                <span class="bubble"></span>
                <span class="bubble-group">
                    <span class="bubble"></span>
                <span class="bubble"></span>
                </span>
                <span class="bubble"></span>
                </span>
            </div>

            <i class="fal fa-download" *ngIf="!wait"></i>
            <p *ngIf="!wait">BAIXAR</p>
        </div>
    </div>
</section>
<!-- Aqui é o lugar aonde virá o gerador de PDF -->