<app-header></app-header>
<h2 class="main-title color-primary"> Marcação de Consultas </h2>


<div class="wait" *ngIf="wait">
    <div class="process">
        <span class="progressing">
        <span class="bubble"></span>
        <span class="bubble-group">
            <span class="bubble"></span>
        <span class="bubble"></span>
        </span>
        <span class="bubble"></span>
        </span>
    </div>
</div>

<section class="not-able" *ngIf="!wait && !able">
    <i class="color-primary sad-emo fal fa-sad-tear"></i><br /><br />
    <p>Você ainda não fez o seu teste de COVID-19</p><br/>
    <button class="button-primary" routerLink="/dailytest"> Faça já o teste </button>
</section>

<section class="appointment" *ngIf="!wait && able">
    <p class="warning"> As suas informações são privadas</p>
    <br />
    <form class="sickForm" [formGroup]="sickForm" (ngSubmit)="onSubmit()">
        <label class="check-item-block"> Alguma doença pre-existe.
            <input type="checkbox" formControlName="sick">
            <span class="checkmark"></span>
        </label>
        <label for="sickName" *ngIf="fc.sickName.value.length > 0">Nome da doença pre-existente</label>
        <input type="text" id="sickName" formControlName="sickName" placeholder="Nome da doença pre-existente" *ngIf="fc.sick.value">
        <label for="comment" *ngIf="fc.commentvalue.length > 0"> Diga alguma coisa mais... </label>
        <input type="text" id="comment" formControlName="comment" placeholder="Diga alguma coisa mais...">

    </form>

</section>