<app-header></app-header>
<h2 class="main-title color-primary"> Marcação de Consultas </h2>

<div class="wait" *ngIf="wait">
    <div class="process">
        <span class="progressing">
        <span class="bubble"></span>
        <span class="bubble-group">
            <span class="bubble"></span>
        <span class="bubble"></span>
        </span>
        <span class="bubble"></span>
        </span>
    </div>
</div>

<section class="not-able" *ngIf="!wait && !able">
    <i class="color-primary sad-emo fal fa-sad-tear"></i><br /><br />
    <p>Você ainda não fez o seu teste de COVID-19</p><br/>
    <button class="button-primary" routerLink="/dailytest"> Faça já o teste </button>
</section>

<section class="appointment" *ngIf="!wait && able">
    <p class="warning-box"> Garantimos a segurança da sua informação </p>
    <br />
    <form class="sickForm" [formGroup]="sickForm" (ngSubmit)="onSubmit()">
        <label class="check-item-block field"> Alguma doença pre-existe?
            <input type="checkbox" formControlName="sick">
            <span class="checkmark"></span>
        </label>
        <label for="sickName" *ngIf="fc.sickName.value.length > 0">Nome da doença pre-existente</label>
        <input class="field" type="text" id="sickName" formControlName="sickName" placeholder="Nome da doença pre-existente" *ngIf="fc.sick.value">
        <label class="check-item-block field"> Alguma informação a acrescentar?
            <input type="checkbox" formControlName="comm">
            <span class="checkmark"></span>
        </label>
        <label for="comment" *ngIf="fc.comment.value.length > 0"> Alguma a acrescentar? </label>
        <input class="field" type="text" id="comment" formControlName="comment" placeholder="Alguma a acrescentar?" *ngIf="fc.comm.value">
        <button type="submit" class="field button-primary">Marcar a consulta</button>
    </form>

</section>