.top-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem;
    background: var(--primary-color-06);
    padding: 1rem 0;
}

.top-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 300ms;
    height: 2rem;
    background-color: var(--background-color-1);
    color: var(--primary-color);
    padding: 0 1rem;
    min-width: calc(300px / 3);
    border-radius: 5px;
}

.icon {
    margin-right: .5rem;
}

.top-menu-item:hover {
    transform: scale(1.2);
}

.go-back {
    background-color: var(--background-color-1);
    color: var(--primary-color);
    padding: 0;
    min-width: 2rem;
    width: 2rem;
    border-radius: 1rem;
}

.selected {
    display: none;
}