<section class="map">
    <div id="mapa"></div>
    <div class="map-legend">
        <ul class="map-color">
            <li class="map-color-item green">
                <div class="green-box"></div> Baixa probabilidade (0% - 35%) </li>
            <li class="map-color-item yellow">
                <div class="yellow-box"></div> Probabilidade mediana (35% - 65%) </li>
            <li class="map-color-item red">
                <div class="red-box"></div> Alta probabilidade (65% - 100%) </li>
        </ul>
    </div>
</section>