<section class="map">
    <div id="mapa"></div>
    <div class="map-legend">
        <div>
            <ul class="map-color">
                <li class="map-color-item green">
                    <div class="green-box"></div> (0% - 35%) - Baixa probabilidade </li>
                <li class="map-color-item yellow">
                    <div class="yellow-box"></div> (35% - 65%) - Probabilidade mediana </li>
                <li class="map-color-item red">
                    <div class="red-box"></div> (65% - 100%) - Alta probabilidade </li>
            </ul>
        </div>
    </div>
</section>