<div class="main-content">
    <h1 class="main-title"> Nossos Colaboradores </h1>
    <section class="contributors-content">
        <article class="contributor-card">
            <div class="contributor-image">
                <img src="../assets/images/welcome-illustration.png" alt="Colaborador">
            </div>
            <h3 class="contributor-name">Edson Cassinela</h3>
            <div class="contributor-description">
                <p class="line"><span class="enphase">Contribuindo em: </span> <span> Telemedicina </span></p>
                <p class="line"><span class="enphase">Especialista em: </span> <span> Oncologia </span></p>
                <p class="line"><span class="enphase">Estatuto: </span> <span> Doutor </span></p>
            </div>
            <button class="button-primary">Saber mais</button>
        </article>
    </section>
</div>