<app-header></app-header>

<h2 class="main-title color-primary">Agenda</h2>
<section class="calendar-table">
    <table>
        <thead>
            <tr>
                <th>Posição</th>
                <th>Motivo</th>
                <th>Data de marcação</th>
                <th>Data da consulta</th>
                <th>Observador</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="top: -10px; z-index:-1">1</td>
                <td style="top: -10px; z-index:-1">Teste sintomático alto</td>
                <td style="top: -10px; z-index:-1">27/03/2020</td>
                <td style="top: -10px; z-index:-1">05/04/2020</td>
                <td style="top: -10px; z-index:-1">Dr. Edson Cassindala</td>
                <td style="top: -10px; z-index:-1">Concluida</td>
            </tr>
            <tr>
                <td style="top: -20px; z-index:-2">2</td>
                <td style="top: -20px; z-index:-2">Pré-doença</td>
                <td style="top: -20px; z-index:-2">18/04/2020</td>
                <td style="top: -20px; z-index:-2">Indefinida</td>
                <td style="top: -20px; z-index:-2">Dr. Edson Cassindala</td>
                <td style="top: -20px; z-index:-2">Aguardando resposta</td>
            </tr>
            <tr>
                <td style="top: -30px; z-index:-3" colspan="6"> Não foram encontradas consultas</td>
            </tr>
        </tbody>
    </table>
</section>