<app-header></app-header>

<h2 class="main-title color-primary">Agenda</h2>
<section class="calendar-table">
    <div class="process" *ngIf="wait">
        <span class="progressing">
        <span class="bubble"></span>
        <span class="bubble-group">
            <span class="bubble"></span>
        <span class="bubble"></span>
        </span>
        <span class="bubble"></span>
        </span>
    </div>
    <table *ngIf="!wait">
        <thead>
            <tr>
                <th>Posição</th>
                <th>Probabilidade</th>
                <th>Data de marcação</th>
                <th>Data da consulta</th>
                <th>Observador</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let consult of consults; index">
                <td style="top: -10px; z-index:-1">
                    1
                </td>
                <td style="top: -10px; z-index:-1">Teste sintomático alto</td>
                <td style="top: -10px; z-index:-1">27/03/2020</td>
                <td style="top: -10px; z-index:-1">05/04/2020</td>
                <td style="top: -10px; z-index:-1">Dr. Edson Cassindala</td>
                <td style="top: -10px; z-index:-1">Concluida</td>
            </tr>
            <tr *ngIf="!hasConsult">
                <td style="top: -10px; z-index:-3" colspan="6"> Não foram encontradas consultas</td>
            </tr>
        </tbody>
    </table>
</section>