<section class="main-content">

    <h2 class="main-title color-primary">Sobre nós</h2>
    <p class="about-us-content"><strong> CovidAngo Telemedicina</strong> é o nova funcionalidade da Plataforma <strong> CovidAngo </strong>que contempla a Telemedicina onde o utilizador na presença de sintomas que podem ser associados a Covid-19, é consultado por um profissional de saúde por  vídeo chamada sem precisar sair de casa!
    Gerando a seguir uma ficha médica do paciente, validada por uma equipe de médicos. Esta versão também te dá acesso à dados estatísticos e a um mapa da tua região com as áreas de maior risco de contaminação;</p>
   <!-- <section class="about-us">
        <article class="about-us-item">
            <i class="fad fa-rocket about-us-icon color-primary"></i>
            <h2 class="color-primary about-us-title">Missão</h2>
            <p class="about-us-content"> <i class="fad fa-rocket"> </i> Prover com segurança serviços que atendam as necessidades básicas da população Angolana;</p>
            <p class="about-us-content"> <i class="fad fa-rocket"> </i> Possibilitar o acesso a serviços e produtos aliando-nos à comerciantes locais e entidades afins.</p>
        </article>
        <article class="about-us-item">
            <i class="fad fa-binoculars about-us-icon color-primary"></i>
            <h2 class="color-primary about-us-title">Visão</h2>
            <p class="about-us-content"> <i class="fad fa-binoculars"> </i> Por meio da tecnologia, evitar a desinformação sobre a infecção conhecida como COVID-19 e contribuir de forma significativa para a prevenção e precaução contra a mesma.</p>

        </article>
        <article class="about-us-item">
            <i class="fad fa-hands-heart about-us-icon color-primary"></i>
            <h2 class="color-primary about-us-title">Valores</h2>
            <p class="about-us-content"> <i class="fad fa-hands-heart"> </i> Garantir informações credíveis;</p>
            <p class="about-us-content"> <i class="fad fa-hands-heart"> </i> Atrair entidades que como nós se revejam na causa;</p>
            <p class="about-us-content"> <i class="fad fa-hands-heart"> </i> Assegurar a transparência e a qualidade de serviços com uma equipa especializada;</p>
            <p class="about-us-content"> <i class="fad fa-hands-heart"> </i> Nada está bom o bastante que não possamos melhorar;</p>
            <p class="about-us-content"> <i class="fad fa-hands-heart"> </i> Não abrir mão da nosssa missão e visão.</p>
        </article>
    </section>-->

</section>