<section class="test">
    <aside class="test-left">
        <div class="test-img">
            <img src="./assets/images/test-illustration.png" alt="Imagem do teste">
        </div>
    </aside>
    <aside class="test-right">
        <div class="test-phases">
            <div class="test-phase" *ngIf="phase == 0">
                <h1 class="color-primary"> Seja bem-vindo ao teste de COVID-19 </h1><br />
                <div class="test-phase-text">Para continuar o teste vamos precisar de: <br /><br />
                    <ul>
                        <li> <i class="fal fa-id-card color-primary test-phase-icon"> </i> Documento de identifição (BI ou Passaporte);</li>
                        <li> <i class="fal fa-location-arrow color-primary test-phase-icon"> </i> Acesso a sua localização.</li>
                    </ul>
                </div><br />
                <p class="test-phase-text"> <i class="fas fa-grin-beam laughing"></i> Por favor... seja sincero e salve vidas, o futuro também depende de si. Juntos somos mais fortes.</p><br />
                <p class="test-phase-text warning">A sua identificação será utilizada apenas por questões de credibilidade, <b>NÃO SERÁ EXPOSTA</b></p>
                <div class="test-buttons">
                    <button class="button-primary" (click)="firstPhase()">Continuar</button>
                </div>
            </div>
            <form [formGroup]="testForm" (ngSubmit)="onSubmit()">
                <div class="test-phase" *ngIf="phase == 1">
                    <h2 class="color-primary"> Informações pessoais </h2>
                    <label for="gender" *ngIf="fc.gender.value != ''">Gênero</label>
                    <select id="gender" formControlName="gender" class="field">
                        <option value='' selected disabled> Selecione o seu Gênero </option>
                        <option value="M"> Masculino </option>
                        <option value="F"> Feminino </option>
                    </select>
                    <label for="age" *ngIf="fc.age.value != null">Ano De Nascimento</label>
                    <input type="number" placeholder="Ano De Nascimento" id="age" formControlName="age" class="field">
                    <label for="docId" *ngIf="fc.docId.value !=''"> Número de BI ou Passaporte </label>
                    <input id="docId" formControlName="docId" placeholder="Número de BI ou Passaporte">
                    <div class="test-buttons">
                        <button class="button-secondary" (click)="prevPhase()"> Voltar </button>
                        <button class="button-primary" (click)="nextPhase()"> Continuar </button>
                    </div>
                </div>
                <div class="test-phase" *ngIf="phase==2">
                    <h2 class="color-primary"> Informações importantes </h2>
                    <h4 class="test-subtitle"> Marque as opções verdadeiras </h4>
                    <div class="check-item">
                        <label class="check-item-block"> Viajou para países em actual estado de emergência no último mês de Março?
                            <input type="checkbox" value=5 id="travel" formControlName="travel">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="check-item">
                        <label class="check-item-block"> Esteve em lugares com mais de 50 pessoas nos últimos 14 dias?
                            <input type="checkbox" value=5 id="people" formControlName="people">              
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="check-item">
                        <label class="check-item-block"> Esteve em contacto com pessoas infectadas com o COVID-19?
                            <input type="checkbox" value="10" id="covid" formControlName="covid">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <div class="test-buttons">
                        <button class="button-primary" (click)="nextPhase()"> Continuar </button>
                    </div>
                </div>
                <div class="test-phase" *ngIf="phase==3">
                    <h2 class="color-primary"> Informações sintomáticas </h2>
                    <h4 class="test-subtitle"> Qual dos sintomas abaixo sentiu nos últimos dias </h4>
                    <div class="check-item check-item-double">
                        <div class="check-item">
                            <label class="check-item-block"> Febre
                                <input type="checkbox" value="13.12" formControlName="febre">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="check-item">
                            <label class="check-item-block">  Tosse
                                <input type="checkbox" value="13.12" formControlName="tosse">
                                <span class="checkmark"></span>
                            </label>
                        </div>

                    </div>
                    <div class="check-item check-item-double">
                        <div class="check-item">
                            <label class="check-item-block"> Fadiga
                                <input type="checkbox" value="13.12" formControlName="fadiga">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="check-item">
                            <label class="check-item-block"> Dificuldade de respirar
                                <input type="checkbox" value="6.56" formControlName="respiracao">
                                <span class="checkmark"></span>
                            </label>
                        </div>

                    </div>
                    <div class="check-item check-item-double">
                        <div class="check-item">
                            <label class="check-item-block"> Dor de garganta
                                <input type="checkbox" value="6.56" formControlName="garganta">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="check-item">
                            <label class="check-item-block"> Calafrios
                                <input type="checkbox" value="6.56" formControlName="calafrios">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="check-item check-item-double">
                        <div class="check-item">
                            <label class="check-item-block"> Dor no Corpo
                                <input type="checkbox" value="6.56" formControlName="corpo">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="check-item">
                            <label class="check-item-block"> Dor de cabeça 
                                <input type="checkbox" value="6.56" formControlName="cabeca">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>

                    <div class="check-item check-item-double">
                        <div class="check-item">
                            <label class="check-item-block"> Nariz escorrendo (Coriza)
                                <input type="checkbox" value="3.93" formControlName="coriza">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="check-item">
                            <label class="check-item-block"> Espirros
                                <input type="checkbox" value="3.93" formControlName="espirros">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>

                    <div class="test-buttons">
                        <button class="button-secondary" (click)="prevPhase()"> Voltar </button>
                        <button class="button-primary" type="submit"> Continuar </button>
                    </div>
                </div>
            </form>
            <div class="test-phase" *ngIf="phase==4">
                <h2 class="color-primary" *ngIf="wait"> Verificando o reultado do seu teste </h2>

                <div class="process" *ngIf="wait">
                    <span class="progressing">
                    <span class="bubble"></span>
                    <span class="bubble-group">
                        <span class="bubble"></span>
                    <span class="bubble"></span>
                    </span>
                    <span class="bubble"></span>
                    </span>
                </div>
                <div class="sec-level" *ngIf="!wait">
                    <p class="level-desc"> Sua probabilidade de ter COVID-19 é de: </p>
                    <span class="level">{{level | toFixed: 3 }}% </span>
                </div>
                <div class="test-buttons" *ngIf="!wait">
                    <button class="button-primary" routerLink="/home"> Voltar ao início </button>
                </div>
                <div class="test-buttons" *ngIf="!wait">
                    <button class="button-secondary" routerLink="/telemedicina"> Opinião de um profissional </button>
                </div>

            </div>
        </div>
    </aside>
</section>