<section class="modal" *ngIf="currentModal == 'password-rescue'">
    <header class="modal-header">
        <i id="modal-info" class="fal fa-info-circle modal-icon"></i>
        <h4 class="modal-title">Recuperar senha</h4>
        <i class="fal fa-times modal-icon" (click)="changeModal('none')"></i>
    </header>

    <div class="modal-body">
        <div class="process" *ngIf="wait">
            <span class="progressing">
            <span class="bubble"></span>
            <span class="bubble-group">
                <span class="bubble"></span>
            <span class="bubble"></span>
            </span>
            <span class="bubble"></span>
            </span>
        </div>

        <form class="modal-content" [formGroup]="rescueForm" (ngSubmit)="onSubmit()" *ngIf="!wait && phase == 1">
            <p class="warning">{{error}}</p>
            <label for="signup-email" *ngIf="fc.email.value != ''"> Email </label>
            <input type="text" placeholder="Email" id="signup-email" (keyup)="clearError()" formControlName="email" class="field">
            <div class="modal-buttons">
                <button type="submit" class="modal-button button-primary" [disabled]="!rescueForm.valid"> Enviar link de recuperação </button>
            </div>
            <div class="modal-buttons">
                <button class="modal-button button-secondary" (click)="changeModal('sign-in')"> Voltar ao login </button>
            </div>
        </form>
        <div class="modal-content" *ngIf="!wait && phase == 2">
            <p class="modal-text">
                O link de recuperação de senha foi enviado para o seu email com sucesso.
            </p>
            <div class="modal-buttons">
                <button class="modal-button button-primary" (click)="changeModal('sign-in')"> Voltar ao login </button>
            </div>
        </div>
    </div>
</section>