<section class="modal" *ngIf="currentModal == 'profile'">
    <header class="modal-header">
        <i id="modal-info" class="fal fa-info-circle modal-icon"></i>
        <h4 class="modal-title">Editar perfil</h4>
        <i class="fal fa-times modal-icon" (click)="changeModal('none')"></i>
    </header>

    <div class="modal-body">
        <div class="process" *ngIf="wait">
            <span class="progressing">
            <span class="bubble"></span>
            <span class="bubble-group">
                <span class="bubble"></span>
            <span class="bubble"></span>
            </span>
            <span class="bubble"></span>
            </span>
        </div>

        <form class="modal-content" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <label for="signup-name" *ngIf="fc.name.value != ''">Nome Completo</label>
            <input type="text" placeholder="Nome Completo" id="signup-name" formControlName="name" class="field">

            <label for="signup-email" *ngIf="fc.email.value != ''">Email</label>
            <input type="text" placeholder="Email" id="signup-email" formControlName="email" class="field">

            <label for="signup-phone" *ngIf="fc.phone.value != ''">Número de Telefone</label>
            <input type="text" placeholder="Número de Telefone" id="signup-phone" formControlName="phone" class="field">

            <label for="signup-pass" *ngIf="fc.password.value != ''">Palavra-passe</label>
            <input type="password" placeholder="Palavra-passe" class="field" formControlName="password" id="signup-pass">

            <div class="modal-buttons">
                <button type="submit" class="modal-button button-primary" [disabled]="!profileForm.valid"> Editar </button>
            </div>
        </form>
    </div>
</section>