/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('./assets/dist/font-awesome-5-pro/css/all.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul,
li {
    list-style: none;
}

input,
select {
    display: block;
    width: 100%;
    border: 1px solid var(--font-color-1-05);
    outline: none;
    border-radius: 2.5px;
    margin: 7px 0 10px;
    padding: .7rem 1rem;
}

label {
    display: block;
    font-weight: 400;
    text-align: left;
    font-size: .9rem;
}

button {
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 7px 5px;
    padding: .8rem 1rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 300ms;
}

button:hover {
    margin: 2px 5px 12px;
}

button:disabled {
    opacity: .7;
}

button:disabled:hover {
    margin: 7px 5px;
}

.invisible {
    display: none!important;
}

.transparent {
    color: inherit;
    padding: 0;
    margin: 0;
    background-color: transparent;
    font-size: inherit;
}

.transparent:hover {
    padding: 0;
    margin: 0;
    background-color: transparent;
}

main {
    margin: 0 auto;
    width: 100vw;
    overflow: hidden;
    max-width: 1440px;
    min-height: calc(100vh - 19.8rem - 20px);
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
}

.main-title {
    margin-bottom: 3rem;
    text-align: center;
    font-size: 4vh;
}

.contributors-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.contributor-card {
    width: 300px;
    padding: 2rem 1rem;
    border-radius: 10px;
    margin: 1rem 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contributor-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    overflow: hidden;
}

.contributor-card:hover img {
    transform: scale(1.2);
}

.contributor-image img {
    width: 82%;
    transition: all 500ms;
}

.contributor-name {
    padding: 1rem
}

.line {
    font-size: 0.85rem;
    line-height: 1rem;
    padding: .5rem;
}


/* Animações */

@keyframes rotateVirus {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}


/* The check-item-block */

.check-item-block {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.check-item-block input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 2px;
    background-color: #eee;
    border: 1px solid var(--font-color-1-05)
}


/* On mouse-over, add a grey background color */

.check-item-block:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.check-item-block input:checked~.checkmark {
    background-color: var(--primary-color);
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.check-item-block input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.check-item-block .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* CUSTOM */

:root {
    --primary-color: rgb(95, 202, 68);
    --primary-color-06: rgba(95, 202, 68, .6);
    --primary-color-04: rgba(95, 202, 68, .4);
    --primary-color-01: rgba(95, 202, 68, .1);
    --yellow-color: rgb(238, 220, 55);
    --yellow-color-05: rgba(238, 220, 55, 0.5);
    --warning-color: rgb(202, 68, 68);
    --warning-color-05: rgba(202, 68, 68, 0.5);
    --background-color-1: #f3f3f3;
    --background-color-2: white;
    --background-color-3: rgb(240, 240, 240);
    --background-color-3-04: rgba(240, 240, 240, 0.4);
    --background-color-07: rgb(250, 250, 250, .7);
    --background-color-4: rgb(200, 200, 200);
    --font-color-1: rgb(40, 40, 40);
    --font-color-2: rgb(60, 60, 60);
    --font-color-3: rgb(80, 80, 80);
    --font-color-1-05: rgba(40, 40, 40, .5);
}

* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--background-color-2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: 700;
}

h1 {
    font-size: 2rem;
}

.button-primary {
    background-color: var(--primary-color)!important;
}

.color-primary {
    color: var(--primary-color);
}

.button-warning {
    background-color: var(--warning-color);
    color: var(--background-color-1);
}

.button-facebook {
    background-color: var(--font-color-1);
    color: var(--background-color-1);
}

.button-secondary {
    background-color: transparent;
    border: 1px solid var(--font-color-1);
    color: var(--font-color-1);
}

.warning {
    color: var(--warning-color);
}

.warning-box {
    margin: 0 auto;
    background-color: var(--warning-color);
    color: var(--background-color-1);
    padding: .2rem 1rem;
    font-size: .9rem;
    border-radius: 5px;
    text-align: center;
}

.w-100 {
    width: 100%;
}

.errorField {
    border: 2px solid var(--warning-color);
}

.enphase {
    color: var(--primary-color);
}

.main-header {
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    background-color: var(--background-color-1);
    border-bottom: 5px solid var(--primary-color);
    color: var(--font-color-1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
}

.main-header-item {
    font-size: 1.5rem;
}

.laughing {
    font-size: 2rem;
    color: rgb(255, 179, 2);
}

.option {
    background-color: var(--primary-color);
}

.option-mask {
    background-color: var(--background-color-3);
    color: var(--font-color-1)
}

.contributor-card {
    color: var(--font-color-1);
    background-color: var(--background-color-3);
}

.process {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.progressing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 100px;
    height: 100px;
    transform-origin: center center;
    border-radius: 50%;
    animation-name: rotate;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all 300ms;
}

.bubble {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary-color);
    transition: all 300ms;
}

.bubble-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(1);
        height: 100px;
        width: 100px;
        background-color: transparent;
    }
    45% {
        background-color: transparent;
    }
    46% {
        background-color: var(--primary-color);
    }
    50% {
        transform: rotate(180deg) scale(2);
        height: 10px;
        width: 10px;
    }
    54% {
        background-color: var(--primary-color);
    }
    55% {
        background-color: transparent;
    }
    100% {
        transform: rotate(360deg) scale(1);
        height: 100px;
        width: 100px;
        background-color: transparent;
    }
}


/* Let's get this party started */

::-webkit-scrollbar {
    width: 2px;
    background: rgba(194, 194, 194, 0.4);
}


/* Track */

::-webkit-scrollbar-track {
    width: 2px;
    border-radius: 0;
}

::-webkit-scrollbar-track:window-inactive {
    background: rgba(255, 255, 255, .3);
}


/* Handle */

::-webkit-scrollbar-thumb {
    width: 2px;
    background: rgba(49, 49, 49, 0.8);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(49, 49, 49, 0.2);
}