<section class="main-content">
    <h1 class="main-title">Conheça a nossa Equipa</h1>
    <section class="team-members">
        <article class="team-member">
            <div class="team-member-image">
                <img src="../assets/images/welcome-illustration.png" alt="" srcset="">
            </div>
            <div class="team-member-content">
                <h3 class="team-member-name">Milton Bernardo
                    <small>(Mentor)</small>
                </h3>
                <p class="team-member-function">
                    Back-end
                </p>
                <div class="team-member-social">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fal fa-at"></i>
                </div>
            </div>
        </article>
        <article class="team-member">
            <div class="team-member-image">
                <img src="../assets/images/welcome-illustration.png" alt="" srcset="">
            </div>
            <div class="team-member-content">
                <h3 class="team-member-name">Okusindja Almeida
                </h3>
                <p class="team-member-function">
                    Front-end e Marketing
                </p>

                <div class="team-member-social">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fal fa-at"></i>
                </div>
            </div>
        </article>
        <article class="team-member">
            <div class="team-member-image">
                <img src="../assets/images/welcome-illustration.png" alt="" srcset="">
            </div>
            <div class="team-member-content">
                <h3 class="team-member-name">Marco Pitra
                </h3>
                <p class="team-member-function">
                    Full-stack
                </p>

                <div class="team-member-social">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fal fa-at"></i>
                </div>
            </div>
        </article>
        <article class="team-member">
            <div class="team-member-image">
                <img src="../assets/images/welcome-illustration.png" alt="" srcset="">
            </div>
            <div class="team-member-content">
                <h3 class="team-member-name">Átila e Sousa
                </h3>
                <p class="team-member-function">
                    Front-end e Design
                </p>

                <div class="team-member-social">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fal fa-at"></i>
                </div>
            </div>
        </article>
        <article class="team-member">
            <div class="team-member-image">
                <img src="../assets/images/welcome-illustration.png" alt="" srcset="">
            </div>
            <div class="team-member-content">
                <h3 class="team-member-name">Edmilson Júlio
                </h3>
                <p class="team-member-function">
                    Relações Públicas e Escalabilidade
                </p>
                <div class="team-member-social">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fal fa-at"></i>
                </div>
            </div>
        </article>
        <article class="team-member">
            <div class="team-member-image">
                <img src="../assets/images/welcome-illustration.png" alt="" srcset="">
            </div>
            <div class="team-member-content">
                <h3 class="team-member-name">Hairton Vanda
                </h3>
                <p class="team-member-function">
                    Desing, Relações Públicas e Front-end
                </p>
                <div class="team-member-social">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fal fa-at"></i>
                </div>
            </div>
        </article>
        <article class="team-member">
            <div class="team-member-image">
                <img src="../assets/images/welcome-illustration.png" alt="" srcset="">
            </div>
            <div class="team-member-content">
                <h3 class="team-member-name">Ricardo Silva
                </h3>
                <p class="team-member-function">
                    Marketing e Gestão de Conteudo
                </p>
                <div class="team-member-social">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fal fa-at"></i>
                </div>
            </div>
        </article>

        <article class="team-member">
            <div class="team-member-image">
                <img src="../assets/images/welcome-illustration.png" alt="" srcset="">
            </div>
            <div class="team-member-content">
                <h3 class="team-member-name">Hélio Vicente
                </h3>
                <p class="team-member-function">
                    Back-end
                </p>
                <div class="team-member-social">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fal fa-at"></i>
                </div>
            </div>
        </article>
        <article class="team-member">
            <div class="team-member-image">
                <img src="../assets/images/welcome-illustration.png" alt="" srcset="">
            </div>
            <div class="team-member-content">
                <h3 class="team-member-name">Peterson Alves
                </h3>
                <p class="team-member-function">
                    Gestão de Conteudo
                </p>
                <div class="team-member-social">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fal fa-at"></i>
                </div>
            </div>
        </article>
        <article class="team-member">
            <div class="team-member-image">
                <img src="../assets/images/welcome-illustration.png" alt="" srcset="">
            </div>
            <div class="team-member-content">
                <h3 class="team-member-name"> Adolfo Quende
                </h3>
                <p class="team-member-function">
                    Gestão de Conteudo
                </p>
                <div class="team-member-social">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fal fa-at"></i>
                </div>
            </div>
        </article>
    </section>

</section>