<section class="content-head">
    <div class="head-image">
        <img src="./assets/images/virus-illustration.png" alt="virus-illustration">
    </div>
    <div class="head-text">
        <h1 class="head-title-xl">COVID-19</h1>
        <h1 class="head-title-l">Proteja a si e aos seus</h1>
        <p class="head-text-l">Faça o seu teste e ajude outras pessoas com o máximo de informações possíveis, juntos somos mais fortes</p>
    </div>
</section>
<section class="options">
    <div class="option">
        <div class="option-mask">
            <i class="fal fa-file-medical-alt mask-icon"></i>
            <div class="text-content">
                <h2> Teste diário</h2>
                <p class="option-desc">Faça o seu teste diário agora mesmo </p>
            </div>
        </div>
        <div class="option-face">
            <i class="fal fa-file-medical-alt mask-icon"></i>
            <div class="text-content">
                <h2> Teste diário</h2>
                <p class="option-desc">Faça o seu teste diário agora mesmo </p>
            </div>
        </div>
    </div>
    <div class="option">
        <div class="option-mask">
            <i class="fal fa-chart-line-down
            mask-icon"></i>
            <div class="text-content">
                <h2> Resultado estatístico </h2>
                <p class="option-desc"> Veja o resultado do teste em outras pessoas </p>
            </div>
        </div>
        <div class="option-face">
            <i class="fal fa-chart-line-down
            mask-icon"></i>
            <div class="text-content">
                <h2> Resultado estatístico </h2>
                <p class="option-desc"> Veja o resultado do teste em outras pessoas </p>
            </div>
        </div>
    </div>
    <div class="option">
        <div class="option-mask">
            <i class="fal fa-map-marked-alt mask-icon"></i>
            <div class="text-content">
                <h2> Estatística no mapa </h2>
                <p class="option-desc"> Acompanhe os dados de propagação do vírus através do mapa </p>
            </div>
        </div>
        <div class="option-face">
            <i class="fal fa-map-marked-alt mask-icon"></i>
            <div class="text-content">
                <h2 class="option-title"> Estatística no mapa </h2>
                <p class="option-desc"> Acompanhe os dados de propagação do vírus através do mapa </p>
            </div>
        </div>
    </div>
    <div class="option">
        <div class="option-mask">
            <i class="fal fa-laptop-medical mask-icon"></i>
            <div class="text-content">
                <h2> Telemedicina </h2>
                <p class="option-desc"> Tenha o previlégio de ser acompanhado por um médico em sua casa </p>
            </div>
        </div>
        <div class="option-face">
            <i class="fal fa-laptop-medical mask-icon"></i>
            <div class="text-content">
                <h2> Telemedicina </h2>
                <p class="option-desc"> Tenha o previlégio de ser acompanhado por um médico em sua casa </p>
            </div>
        </div>
    </div>
</section>