<section class="modal" *ngIf="currentModal == 'sign-up'">
    <header class="modal-header">
        <i id="modal-info" class="fal fa-info-circle modal-icon"></i>
        <h4 class="modal-title">Registar</h4>
        <i class="fal fa-times modal-icon" (click)="changeModal('none')"></i>
    </header>
    <form class="modal-body" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="modal-content">
            <label for="signup-name" id="label-signup-name" *ngIf="fc.name.value != ''">Nome Completo</label>
            <input type="text" placeholder="Nome Completo" id="signup-name" formControlName="name" class="field">

            <label for="signup-id" id="label-signup-id" *ngIf="fc.id.value != ''">Número de BI ou passaporte</label>
            <input type="text" placeholder="Número de BI ou Passporte" id="signup-id" formControlName="id" class="field">

            <label for="signup-phone" id="label-signup-phone" *ngIf="fc.phone.value != ''">Número de Telefone</label>
            <input type="text" placeholder="Número de Telefone" id="signup-phone" formControlName="phone" class="field">

            <label for="signup-age" id="label-signup-age" *ngIf="fc.age.value != null">Idade</label>
            <input type="number" placeholder="Idade" id="signup-age" formControlName="age" class="field">

            <label for="signup-pass" id="label-signup-pass" *ngIf="fc.password.value != ''">Palavra-passe</label>
            <input type="password" placeholder="Palavra-passe" class="field" formControlName="password" id="signup-pass">
        </div>
        <div class="modal-buttons">
            <button class="modal-button button-secondary" (click)="changeModal('sign-in')"> Entrar </button>
            <button type="submit" class="modal-button button-primary" [disabled]="!signupForm.valid"> Registar </button>
        </div>
        <div class="modal-buttons">
            <button value="google" class="modal-button button-facebook"> <i class="fab fa-google"></i> Registar com o Google </button>
        </div>
    </form>
</section>