<section class="options">
    <div class="option" routerLink="calendar">
        <div class="option-mask">
            <i class="fal fa-calendar-week mask-icon"></i>
            <div class="text-content">
                <h2> Ver Agenda </h2>
                <p class="option-desc"> Ver todas as suas consultas e suas respectivas datas </p>
            </div>
        </div>
        <div class="option-face">
            <i class="fal fa-calendar-week mask-icon"></i>
            <div class="text-content">
                <h2> Ver Agenda </h2>
                <p class="option-desc"> Ver todas as suas consultas e suas respectivas datas </p>
            </div>
        </div>
    </div>
    <div class="option" routerLink="appointment">
        <div class="option-mask">
            <i class="fal fa-calendar-plus
            mask-icon"></i>
            <div class="text-content">
                <h2> Marque a sua consulta </h2>
                <p class="option-desc"> Marque já a sua consulta com um médico especializado </p>
            </div>
        </div>
        <div class="option-face">
            <i class="fal fa-calendar-plus
            mask-icon"></i>
            <div class="text-content">
                <h2> Marque a sua consulta </h2>
                <p class="option-desc"> Marque já a sua consulta com um médico especializado </p>
            </div>
        </div>
    </div>
    <div class="option" routerLink="/maps">
        <div class="option-mask">
            <i class="fal fa-map-marked-alt mask-icon"></i>
            <div class="text-content">
                <h2> Estatística no mapa </h2>
                <p class="option-desc"> Acompanhe os dados de propagação do vírus através do mapa </p>
            </div>
        </div>
        <div class="option-face">
            <i class="fal fa-map-marked-alt mask-icon"></i>
            <div class="text-content">
                <h2 class="option-title"> Estatística no mapa </h2>
                <p class="option-desc"> Acompanhe os dados de propagação do vírus através do mapa </p>
            </div>
        </div>
    </div>
    <div class="option" routerLink="resume">
        <div class="option-mask">
            <i class="fal fa-file-medical mask-icon"></i>
            <div class="text-content">
                <h2> Gerar Relatório </h2>
                <p class="option-desc"> Acesse aos seus dados médicos numa ficha médica autenticada por nós </p>
            </div>
        </div>
        <div class="option-face">
            <i class="fal fa-file-medical mask-icon"></i>
            <div class="text-content">
                <h2> Gerar Relatório </h2>
                <p class="option-desc"> Acesse aos seus dados médicos numa ficha médica autenticada por nós </p>
            </div>
        </div>
    </div>
</section>