<section class="statistc">
    <section class="statistic-numbers">
        <div class="statistic-number all">999 Pessoas</div>
        <div class="statistic-number high">999 Alto</div>
        <div class="statistic-number med">999 Médio</div>
        <div class="statistic-number low">999 Baixo</div>
    </section>
    

 <div id="general" style="width: 500px; height: 500px;"></div>
 <div id="age" style="width: 500px; height: 500px;"></div>
 <div id="gender" style="width: 500px; height: 500px;"></div>

</section>