<section class="statistc">
    <section class="statistic-numbers">
        <div class="statistic-number all">999 Pessoas</div>
        <div class="statistic-number high">999 Alto</div>
        <div class="statistic-number med">999 Médio</div>
        <div class="statistic-number low">999 Baixo</div>
    </section>
    <section class="statistic-grafics">
        <div class="wait" *ngIf="wait">
            <div class="process">
                <span class="progressing">
                <span class="bubble"></span>
                <span class="bubble-group">
                    <span class="bubble"></span>
                <span class="bubble"></span>
                </span>
                <span class="bubble"></span>
                </span>
            </div>
        </div>
        <div id="general" style="min-width: 320px; height: 320px;"></div>
        <div id="age" style="min-width: 320px; height: 320px;"></div>
        <div id="gender" style="min-width: 320; height: 320;"></div>
    </section>
</section>